.price-card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
}
.price-card img{
    width:20px;
    margin-right: 10px;
}
.price-card ul li{
    padding: 5px 0px;
}