.class-list-container{
    padding: 100px 0px;
}
.class-list{
    position: relative;
    margin-bottom: 40px;
}
.class-list button{
    position: absolute;
    left: 5%;
    bottom:-15px;
    width:90%;
    display: block;
    margin: auto;
}