@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
img{
    width:100%
}
.text-brand {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}
.text-brand span{
    color:#FCD841;
}

.btn-brand {
    background: #FEC841;
    padding: 10px 40px;
    border: none;
    font-size: 20px;
    font-family: 'Squada One', cursive;
    letter-spacing: 2px;
}
.yellow {
    color: #FCD841;
}